<div class = "textfont">
	<div style="text-align:left;">
		<% unless(@dataARY.blank?)%>	
			<% @dataARY.each do |value| %>	
				<table>
					<input type="hidden" name="workHistoryID" value = "<%= @workHistoryID %>"  id="workHistoryID" >
					<tr>
						<td width="150px">Company *</td>
						<td><input type="text" value = "<%= value['title'] %>" name="company"  id="company" ></td>
					</tr>
					<tr>
						<td>Position *</td>
						<td><input type="text"  value = "<%= value['company'] %>" name="job" id="job"></td>
					</tr>
					<tr>
						<td>From *</td>
						<td><input type="text" value = "<%= value['fromdate'] %>" name="from" id="opdate"> </td>
					</tr>
					<tr>
						<td>Until *</td>
						<td><input type="text" value = "<%= value['tilldate'] %>" name="till" id="datepickers"> </td>
					</tr>
					<tr>
						<td colspan="2">
							<ul style="float:left;list-style:none;">
								<li style="float:left;list-style:none;"><button type="button">Add</button></li>
								<li style="float:left;list-style:none;margin-top:-20px;"><%= submit_tag "Cancel", :onclick => "window.close()"  %></li>
							<ul>
						 </td>
					</tr>
				</table>
			<% end %>
		<% end %>		
	</div>
</div>


