<title>Employer</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script>
$(function() {
$( ".sdate" ).datepicker();
$( "#datepickers" ).datepicker();
});
</script>
<title>Employer</title>
<div id="container" style="width:100%">
	<div id="header" style="height:50px;margin-left: 3%;margin-top: 1.5%;">
		<%= link_to image_tag('/images/logo.jpg') , url_for({:controller => 'home', :action => 'homePage'}) %> 
	</div>
	<div id="menu" style="height:700px;width: 200px;float:left;">
		<br>
		<%= link_to "Dashboard" , url_for({:controller => 'home', :action => 'dashBoard'}), {:class => "linkStyle"} %><br><br>
		<%= link_to "Users" , url_for({:controller => 'home', :action => 'companyUserList'}), {:class => "linkStyle"} %><br><br>
		<%= link_to "Post Jobs" , url_for({:controller => 'home', :action => 'jobPostingNew'}), {:class => "linkStyle"} %><br><br>
		<%= link_to "Search Candidates" , url_for({:controller => 'home', :action => 'candidateSearch'}), {:class => "linkStyle"} %><br><br>
		
	</div>
	<table width="70%" border="0" cellpadding="0" cellspacing="0" align ="center" >
		<tr>
			<td align ="right">Welcome <%= session[:empfirst] %> <%= session[:emplast] %><%= link_to "Signout" , url_for({:controller => 'home', :action => 'signout'}), {:class => "signout"} %></td>
		</tr>
			<tr>
				<td class="pageHead"><div align = "center"><strong>Edit Job Details</strong></div></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>
					<%= form_tag(:action => "updateJobDetails") do  %>	
						<%= render 'formEditJobDetails' %>
					<%end%>
				</td>
			</tr>
		</table>
	</div>	
</div>
 
 


