<title>Employer</title>
<div align = "right">
	<%= link_to "Logout", {:controller => "home", :action => "logout"}%>
</div>
<table>

<tr>
	<td>Total Employees: <%=@totalcnt%>	</td>
</tr>

<tr>
	<td style= "color:red"><%=session[:lmsg]%></td>
</tr>



<% unless(@cntArray.nil?)%>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td align="center" valign="middle">
						<table>
							<tr align="center" valign="middle">							
								<th>No</th>
								<th><div style="width:auto; height:auto; float:left; text-align:center;">Employee</a></div></th>	                            				
									
							</tr>
							<% @cntArray.each do |value| 							
							   @count = @count + 1	
							   %>
								<tr>
									<td><%= @count %></td>
									<td><%= value %></td>
							   </tr>
						   
							<% end %>
							<tr>
								<td></td>
								<td colspan="7"></td>
							</tr>
						</table>
					</td>
				</tr>
			
			</table>
		</td>
	</tr>

<% else %>
<tr><td style= "color:red"><% unless @error.blank? %><%= @error %><% else %>No Employee Found!<%end%></td></tr>
<% end %>
<% session[:lmsg] ='' %>
</table>

